body {
    margin: 0;
    padding: 20px 120px;
    font-family: 'Raleway', serif;
    font-size: 85%;
    justify-content: center;
    background-color: #f9f9f9;
}

.topframe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topframe .leftpanel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topframe .leftpanel .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.topframe .leftpanel .topintro {
    display: flex;
    flex-direction: column;
}

.topframe .rightpanel {
    display: flex;
    gap: 10px;
}

.topframe .rightpanel .navlink {
    background-color: whitesmoke;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 5px lightgray;
    text-align: center;
}

.topframe .rightpanel .navlink i {
    margin-right: 8px;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.container .leftpanel, .container .rightpanel, .container .centerpanel {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px lightgray;
    border-radius: 15px;
    box-sizing: border-box;
}

.container .centerpanel {
    flex: 1.5;
}

.container .leftpanel {
    flex: 2;
}

.container .rightpanel {
    flex: 1;
}

.skills {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    margin: 0;
}

.fieldlist {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.fieldlist li {
    padding: 8px 15px;
    background-color: whitesmoke;
    border-radius: 15px;
}

.splitcontainer {
    display: flex;
    gap: 20px;
}

.splitcontainer .contacts, .container {
    flex: 0.5;
}

.splitcontainer .publications {
    flex: 1;
    text-align: left;
}

.splitcontainer .contacts ul {
    list-style: none;
}

.splitcontainer .contacts ul i {
    margin-right: 8px;
    padding: 3px 3px;
}

.splitcontainer .contacts ul,
.splitcontainer .publications table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hyperlink,
.hyperlink i {
    color: black;
    margin-right: 8px;
}

.TableContainer {
    overflow-x: auto;
    padding-bottom: 20px;
}

.TableContainer .frame {
    border: 1px solid white;
    flex-shrink: 0;
    display: flex;
}

.TableContainer div .frame-title {
    flex: 0.4;
    font-size: 12px;
    color: gray;
}

.TableContainer div .frame-content {
    flex: 2;
    font-size: 12px;
    line-height: 1.6;
}

.webapp .frame .frame-content > ul:first-of-type {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: normal;
    padding-bottom: 30px;
}

.webapp .frame .frame-content > ul:first-of-type > li {
    flex-shrink: 0;
    min-width: 250px;
}

.webapp .frame .frame-content ul li ul {
    list-style: disc;
    display: block;
    overflow-x: hidden;
}

code {
    background: lightgrey;
    padding: 2px 4px;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
}

table th, td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 2px 3px;
    text-align: left;
}