:root {
    --iconSize: 32px;
}

body {
    font-family: "Raleway", serif;
    background-color: white;
    padding: 40px;
    color: black;
}

.profile-frame .banner {
    width: 100%;
    height: 300px;
    background-image: url("banner.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(5px);

}

.profile-frame .profile-container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-frame .profile-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid white;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-frame .content {
    text-align: center;
    margin-top: 150px;
    font-family: "Raleway", serif;
}

.TableContainer {
    max-width: 1800px;
    margin: 50px auto;
    gap: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    overflow-x: scroll;
}

.TableContainer .frame {
    display: block;
    border: 1px solid black;
    min-width: 30%;
    max-width: 30%;
    flex-shrink: 0;
    word-wrap: break-word;
}

.TableContainer div .frame-title {
    flex: 0.5;
    padding: 20px;
    text-align: center;
    align-content: center;
    font-size: 32px;
}

.TableContainer div .frame-content {
    flex: 2;
    padding: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.hyperlink {
    color: black;
}

.contact-list {
    list-style-type: none;
}

.contact-list li {
    margin: 10px 0;
}

.contact-list li i {
    margin-right: 10px;
}

code {
    background: lightgrey;
    padding: 2px 4px;
    border-radius: 4px;
}

/* .excellent {
    color: green;
}

.advanced {
    color: blue;
}

.intermediate {
    color: #FF8C00;
}

.basic {
    color: black;
}

.experimental {
    color: gray;
} */


@media only screen and (max-width: 992px) {
    :root { --iconSize: 120px; }

    body .profile-frame .content h1 { font-size: 65px; }
    body .profile-frame .content h4 { font-size: 40px; }
    body .profile-frame .content p  { font-size: 32px; }
    body .profile-frame .profile-container { top: 160px; }
    body .profile-frame .profile-image { width: 280px; height: 280px; }

    body #contactsicons a { width: var(--iconSize); height: var(--iconSize); }

    .TableContainer .frame { display: block; max-width: 90%; min-width: 90%; }
    .contact-list li i { margin-right: 30px; }

    body .TableContainer div .frame-title { font-size: 120px; }
    body .TableContainer div .frame-content { font-size: 40px; }
}