<div class="mb-5 text-center">
  <div style="width: 120px; height: 120px; margin: 0 auto 1.2rem auto;
              border-radius: 50%; overflow: hidden;
              box-shadow: 0 0 10px rgba(0,0,0,0.4);
              border: 3px solid #333;">
    <img src="{{ '/assets/img/avatar.jpeg' | relative_url }}"
         alt="KlezVirus Logo"
         style="width: 100%; height: 100%; object-fit: cover;" />
  </div>

  <h1 style="margin-bottom: 0.5rem;">Rusty's Blog</h1>
  <p style="font-size: 1.1rem; max-width: 700px; margin: 0 auto;">
    Hi 👋, I'm The Rusty (@therustymate).
    I’m an Offensive Security Researcher mainly interested in 
    reverse engineering, malware analysis/research/development, 
    offensive technique research, and mitigation technologies.
  </p>
</div>